.text-input {
    width: 100%;
    min-height: 100px; /* Set the minimum height */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 40px;
    width: 114px;
    border: none;
    background: #1b1b1cde;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .lable {
    line-height: 20px;
    font-size: 17px;
    color: #FF342B;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #1b1b1c;
  }
  
  .button:hover .svg-icon {
    animation: scale 1s linear infinite;
  }
  
  @keyframes scale {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.05) rotate(10deg);
    }
  
    100% {
      transform: scale(1);
    }
  }