<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice to Text</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div>
        
        <button class="button" id="startRecordBtn" onclick="startRecording()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none" class="svg-icon"><g stroke-width="2" stroke-linecap="round" stroke="#ff342b"><rect y="3" x="9" width="6" rx="3" height="11"></rect><path d="m12 18v3"></path><path d="m8 21h8"></path><path d="m19 11c0 3.866-3.134 7-7 7-3.86599 0-7-3.134-7-7"></path></g></svg>
            <span class="lable">Record</span>
          </button>
        <textarea id="textInput" class="text-input" placeholder="Speak..." disabled></textarea>
        <button id="stopRecordBtn" onclick="stopRecording()" style="display: none;">Stop</button>
        <button id="copyBtn" onclick="copyToClipboard()" disabled>Copy</button>
    </div>

    <script>
        let recognition = new webkitSpeechRecognition(); // for Chrome
        recognition.continuous = true;

        recognition.onresult = function(event) {
            let result = event.results[event.results.length - 1][0].transcript;
            document.getElementById('textInput').value += result + ' ';
            document.getElementById('copyBtn').disabled = false;
        }

        function startRecording() {
            recognition.start();
            document.getElementById('textInput').value = '';
            document.getElementById('copyBtn').disabled = true;
            document.getElementById('startRecordBtn').style.display = 'none';
            document.getElementById('stopRecordBtn').style.display = 'inline-block';
        }

        function stopRecording() {
            recognition.stop();
            document.getElementById('startRecordBtn').style.display = 'inline-block';
            document.getElementById('stopRecordBtn').style.display = 'none';
        }

        function copyToClipboard() {
            let text = document.getElementById('textInput').value;
            navigator.clipboard.writeText(text)
                .then(() => alert('Text copied to clipboard'))
                .catch(err => console.error('Failed to copy text: ', err));
        }
    </script>
</body>
</html>
